<app-dashboard></app-dashboard>

<div class="row mb-4">
    <div class="col-lg-8 col-md-6 mb-md-0 mb-4" >
    <p></p>    
<button mat-button mat-dialog-close class="btn btn-danger"
(click)="GetAllPandingTestimonial()">All Pending Testemonial</button>

<button mat-button mat-dialog-close class="btn btn-danger"
(click)="GetAllTestimonial()">All Testemonial</button>
<p></p>
        <div class="card">

            <div class="card-body px-0 pb-2">
                <div class="table-responsive">



                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">First Name
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Last Name</th>

                                    <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    feedback</th>
                                    <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Status</th>
                                    <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Image</th>

                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Opration</th>
                            </tr>
                        </thead>
                        <tbody>


                            <tr *ngFor="let obj of test.allTestemonial">
                                <td>
                                    <div class="d-flex px-2 py-1">

                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">{{obj.fname}}</h6>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="d-flex px-2 py-1">

                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">{{obj.lname}}</h6>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="d-flex px-2 py-1">

                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">{{obj.feedback_mess}}</h6>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex px-2 py-1">

                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">{{obj.status}}</h6>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <img src="./../../../assets/Images/{{obj.image_path}}" alt="user6">

                                </td>
                                <td class="align-middle text-center text-sm">
                                    <button mat-button mat-dialog-close class="btn btn-danger"
                                       (click)="openDeleteDialog(obj.testimonial_id)">Delete</button>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <button mat-button mat-dialog-close class="btn btn-danger"
                                        (click)="approveTestimonial(obj.testimonial_id)">Approve</button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>



<ng-template #callDeleteDialog>
    <h2>Are You Sure you want to delete this Testemonial</h2>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close="no" class="btn btn-info">No</button>
      <button mat-button mat-dialog-close="yes" class="btn btn-danger">yes</button>
    </mat-dialog-actions>
    
    </ng-template>
